<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Info" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="logDirectory" value="logs"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    -->
    <!--
    <target xsi:type="File" name="logfile" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    <target xsi:type="Database"
            name="ToOracleDB"
            dbProvider="Oracle.ManagedDataAccess.Client.OracleConnection, Oracle.ManagedDataAccess"
            connectionStringName="OracleDB"
            isolationLevel="ReadCommitted"
            keepConnection="false"
            commandType="Text"
            commandText="INSERT INTO LOG (
                         APPLICATION, LOGGED_DATE, LEVEL_TEXT,  USER_TEXT,  MESSAGE,  LOGGER,  CALLSITE,  EXCEPTION_TEXT) 
                VALUES (:APPLICATION, SYSDATE,    :LEVEL_TEXT, :USER_TEXT, :MESSAGE, :LOGGER, :CALLSITE, :EXCEPTION_TEXT)">
      <parameter name="APPLICATION" layout="XXXX System" />
      <parameter name="LEVEL_TEXT" layout="${level}" />
      <parameter name="USER_TEXT" layout="test" />
      <parameter name="MESSAGE" layout="${message}" />
      <parameter name="LOGGER" layout="${logger}" />
      <parameter name="CALLSITE" layout="${callsite:filename=true}" />
      <parameter name="EXCEPTION_TEXT" layout="${exception:tostring}" />
    </target>
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    -->
    <logger name="*" writeTo="ToOracleDB" />

  </rules>
</nlog>
